.input {
    margin-bottom: 15px;
    &-label {
        margin-bottom: 3px;
        padding: 0;
        display: block;
        font-weight: bold;
    }
    &-item {
        display: block;
        box-sizing: border-box;
        border: 1px solid #979797;
        width: 100%;
        height: 35px;
        padding: 0 7px;
        margin: 0 0 5px;
        outline: none;
        transition: .3s all ease-in-out;
    }
    &-error {
        color: #f01f30;
        font-size: 12px;
        font-weight: bold;
    }
    &.invalid label {
        color: #f01f30;
    }
}